html{
	min-height: 100%;
}

body{
	position: relative;
	background-image: url('background.png');
	min-height: 100%;
}

h2 {
	font-size: 28px;
	font-family: 'Roboto Slab', serif;
}

h3, a, form{
	font-family: 'Arial', Helvetica, sans-serif;
	color:#777777;
	text-decoration: none;
}

header{
	position: relative;
	height: 80px;
	background-color: white;
	border-bottom: 2px #CCCCCC solid;
}

#name{
	position: absolute;
	width: 250px;
	height: 100%;
	left: 10%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00AFA8;
	font-family: 'Roboto Slab', serif;
}
.topMenu{
    display: inline;
    align-items: center;
	  justify-content: center;
}

ul{
		position: absolute;
    list-style-type: none;
    right: 10%;
    top: 40%;
}

#contact{
	padding-left: 20px;
  padding-right: 20px;
  border-left: 2px #CCCCCC solid;
  border-right: 2px #CCCCCC solid;
}

#about{
	padding-right: 20px;
}

#portfolio{
	padding-left: 20px;
}

body{
	position: relative;
}

.mainContentHeader{
    color: #00AFA8;
    border-bottom: 2px #DDDDDD solid;
		margin: 0px 27px 0px 27px;
    padding: 30px 20px 20px 0px;
}

.mainContent{
		position: absolute;
		width: 600px;
		background-color: white;
		border: 2px #CCCCCC solid;
		left: 10%;
		top: 120px;
}

.connect{
		position: absolute;
		background-color: white;
		right: 10%;
		top:120px;
		border: 2px #CCCCCC solid;
}

#connectWithMe{
	margin: 0px 27px 0px 27px;
  padding: 30px 0px 20px 7px;
	font-size: 22px;
	color: #00AFA8;
	border-bottom: 2px #DDDDDD solid;
}

#contactForm{
	padding-bottom: 25px;
}

button{
	background-color: #00AFA8;
	border: none;
	border: 1px #CCCCCC solid;
	padding: 10px 20px 10px 20px;
	font-family: 'Arial', Helvetica, sans-serif;
	color:white;
	font-size: 16px;
}

button:hover{
	background-color: #4F95DD;
}

form{
	line-height: 70%;
	padding: 10px 20px 10px 30px;
}

#formName, #formEmail, #formMessage {
	width: 90%;
	color: #DFDFDF;
	border: 2px #DFDFDF solid;
}

.games{
		float: left;
		margin: 15px 5px 15px 15px;
		border: 1px #666666 solid;
		width: 274px;
		height: 204px;
}

#hangman, #rpg, #trivia, #rutgers, #rps{
	width: 274px;
	height: 204px;
}

.imageText{
		position: relative;
		display: flex;
		font-family: 'Arial', Helvetica, sans-serif;
		font-size: 20px;
		color: white;
		width:274px;
		height: 60px;
		background-color: #00AFA8;
		align-items: center;
		justify-content: center;
		margin-top: -80px;
}

#headshot{
	width: 200px;
	height: 200px;
	border: 1px #CCCCCC solid;
	float: left;
	margin: 5px 20px 10px 25px;
}

#aboutText{
	line-height: 180%;
  padding: 0px 20px 10px 30px;
}

.connectImages{
	width:70px;
	margin: 10px 0px 10px 10px;
	border-bottom: 2px white solid;
}

.connectImages:hover{
	border-bottom: 2px #4F95DD solid;
}

footer{
	position: absolute;
	display: flex;
	width: 100%;
	height: 80px;
	top: 1100%;
	align-items: center;
	justify-content: center;
	background-color: #666666;
	border-top: 5px #00AFA8 solid;
}

#portfolioFooter{
	top: 1300%;
}

#copyright{
	color: white;
}

*@media screen and (max-width: 1100px) {
	.mainContent{
		width: 420px;
		padding-bottom: 10px;
	}

	.mainContentHeader{
		margin: auto;
    max-width: 360px;
	}

	.imageText{
		width:360px;
	}

	#headshot{
		width: auto;
		height: auto;
		float: none;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#aboutText{
		line-height: 180%;
    padding-top: 20px;
	}

	.connect{
		width: 250px;
	}

	#connectWithMe{
		margin: auto;
	  padding: 30px 0px 20px 0px;
		border-bottom: none;
		text-align: center;
	}

	.connectImages{
		width:50px;
		margin: 10px 10px 10px 10px;
		border-bottom: 2px white solid;
	}

	#StackOverFlow-image{
		width:70px;
		margin-right: 10px;
	}

	#github-image{
		margin-left: 24px;
	}

	#indexFooter{
		top: 1250%;
	}

	#portfolioFooter{
		top: 2150%;
	}
